{% assign footer = data.footer %}
{% if footer and footer.display %}
<footer class="footer">
    <div class="text-center">
        <small>Press Ctrl + P (Windows) or Cmd + P (Mac) to export it to save a Webpage as a PDF in Chrome</small>
    </div>
    <div class="text-center">
        <small class="copyright">Updated: {{ site.time | date: site.date_format | default: "%Y-%m-%d" }}
             By <a href="https://github.com/stioboranu" target="_blank"">Alexandru Stioboranu</a>
        </small>
    </div>
</footer>
{% endif %}
